<div>

  <table data-toggle="table">
    <thead>
      <tr>
        <th data-field="id" data-sortable="true">Id</th>
        <th data-field="stocks" data-sortable="true">Stocks</th>
        <th data-field="worth">Net Worth</th>
        <th data-field="bid">Bid</th>
        <th data-field="ask">Ask</th>
      </tr>
    </thead>
    <tbody>
      

    <% marketData.each do |md| %>
        <% if md.getColor() == "red" %>
            <tr class="danger">
        <% else %>
            <% if md.getColor() =="green" %>
                <tr class="success">
            <% else %>
                <tr>
            <% end %>
        <% end %>
              <td><%= md.getId() %></td>
              <td><%= md.getStock() %></td>
              <td><%= md.getWorth() %></td>
              <td><%= md.getBid() %></td>
              <td><%= md.getAsk() %></td>
            </tr>
          <% end %>
        </tbody>

  </table>
</div>
